{% extends "base.html" %}

{% block css %} 
{{ block.super }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bumbeishvili/d3-tip-for-v6@4/d3-tip.min.css">
<style>
    .hover path {
        stroke: #ccc;
    }

    .hover text {
        fill: #ccc;
    }

    .hover g.primary text {
        fill: black;
        font-weight: bold;
    }

    .hover g.secondary text {
        fill: #333;
    }

    .hover path.primary {
        stroke: #333;
        stroke-opacity: 1;
    }
</style>
{% endblock %}

{% block extend_menu_front %} 

{{ block.super }}
<span class="navbar-brand text-light"> Graphvis | </span>
{% endblock %}



{% block content %}
<div class="col card border-0 rounded-0 bg-light overflow-auto my-scrollbar d-none d-md-flex" style="height: 100%;"  id="graphVisViewerCol">
    <div class="row m-1">
        <div class="col-md-4 px-0">
            <div class="card my-2 mx-1">
                <div class="card-body">

                    <!-- <h6 class="card-subtitle mt-2 fw-bold">Input</h6> -->
                    <h5 class="card-title fw-bold"> Basic Info</h5>

                    <dl class="row" id="basicInfoList">
                        
                    </dl>
                </div>
            </div>

            <div class="card my-2 mx-1">
                <div class="card-body">                
                    <h5 class="card-title fw-bold"> Control Panel</h5>
                    
                    <form>
                        
                        <label for="weightThreshold" class="form-label">Link Weight Threshold: </label>
                        <output id="weightThresholdOut" name="weightThresholdOut" for="weightThreshold" >80</output> %
                        <input type="range" class="form-range" min="0" max="100" step="1" value="80" id="weightThreshold" oninput="weightThresholdOut.value=weightThreshold.value">
    
                        <a href="#" class="btn btn-primary">Refresh Graph</a>
                        
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8 px-0">
            <div class="card my-2 mx-1">
                <div class="card-body">                
                    <h5 class="card-title fw-bold">Visualization</h5>
                    <div class="spinner-border text-primary" role="status" id="loadingSpin">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="visCanvas">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
{{ block.super }}

<!-- Load request data -->
{{ request.GET |json_script:"requestGET" }}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://unpkg.com/d3-v6-tip@1.0.6/build/d3-v6-tip.js"></script>
<script type="text/javascript">
const requestGET = JSON.parse(document.getElementById('requestGET').textContent);
const maxReturns = 20
// console.log(requestGET)
var loadingSpin = $("#loadingSpin");

// Setup Basic Info
var basicInfoList = $("#basicInfoList");
for (var [key, value] of Object.entries(requestGET)) {
    if (key == "overlapCats")
        key = "Subjects"
    if (key == "archive_status"){
        if (value == "false")
            continue
        else
            key = "Archive Status"
    }
    if (key == "overlapTags")
        key = "Tags"
    basicInfoList.append(`<dt class="col-sm-3 text-muted">${key}</dt>`)
    basicInfoList.append(`<dd class="col-sm-9 text-muted">${value}</dd>`)
}
basicInfoList.append(`<dt class="col-sm-3 text-muted">Max #</dt>`)
basicInfoList.append(`<dd class="col-sm-9 text-muted">${maxReturns}</dd>`)


// Control Panel Setting


// Function for building visualization
function build(data){
    loadingSpin.addClass('d-none')
    var links = data.links;
    // Format links
    for (var l of links) {
        l['reference_overlap_score'] = l['reference_overlap_score']*0.1;
        l['citation_path_score'] = l['citation_path_score']*1;
        
        l['overall_score'] = l['reference_overlap_score']+l['citation_path_score']
    } 
    links.sort((p1,p2) => p1['overall_score'] < p2['overall_score'])
    links = links.filter(l => l['overall_score']>0)


    var nodes = data.nodes;
    var nodeId2listId = {}
    for (const i in nodes) {
        nodeId2listId[nodes[i]['id']] = parseInt(i);
    } 
    // console.log(nodeId2listId)
    for (var l of links) {
        l['source_id'] = nodeId2listId[l['source']];
        l['target_id'] = nodeId2listId[l['target']];
    }

    var heightPerPaper = 60;
    var nNodes = nodes.length;
    var margin = {top: 40, right: 30, bottom: 30, left: 10},
    width = 1000 - margin.left - margin.right,
    height = (nNodes*heightPerPaper) - margin.top - margin.bottom;
    var textWidth = 300;

    // append the svg object to the body of the page
    var svg = d3.select("#visCanvas")
        .append("svg")
        .attr("viewBox", `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`)
        .append("g")
        .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

    // Sort Papers
    for (var i in nodes) {
        nodes[i].order = parseInt(i);
    } 
    // console.log(nodes)

	// enter code to define tooltip
	var tool_tip = d3.tip().attr('class', 'd3-tip');
	svg.call(tool_tip); 

    // yScale 
	var yScale = d3.scaleLinear()
	  .domain([0, nNodes])
	  .range([0, height]);

    // Draw Links
	drawpaths();
	
	function drawpaths(){
		svg.selectAll("path").remove();
		
		var path = svg.selectAll("path")
		  .data(links)
		  .enter()
		  .append("path")
		  .attr("render-order","-1")
		  .attr('transform','translate(' + textWidth +', 0)')
		  .attr('d',function(d){
			y1 = yScale(nodes[d.source_id].order); 
			y2 = yScale(nodes[d.target_id].order);
            const r = Math.abs(y2 - y1) / 2;
            return `M0,${y1}A${r},${r} 0,0,${y1 < y2 ? 1 : 0} 0,${y2}`;
		  })
		  .attr("fill", "none")
		  .attr("stroke-opacity", 0.6)
		  .attr("stroke-width", 1.5)
		  .attr("stroke", "black");
	};

    
	function hover_event(d){
		svg.selectAll("path").remove();
		
		svg.selectAll("path")
			.data(links)
			.enter()
			.append("path")
			.attr("render-order","1")
		    .attr('transform','translate(' + textWidth + ', 0)')
		    .attr('d',function(d){
                    y1 = yScale(nodes[d.source_id].order); 
                    y2 = yScale(nodes[d.target_id].order);
                    const r = Math.abs(y2 - y1) / 2;
                    return `M0,${y1}A${r},${r} 0,0,${y1 < y2 ? 1 : 0} 0,${y2}`;
				})
			.attr("fill", "none")
			.attr("stroke-opacity",function(b){if (b.source == d.id || b.target == d.id){return 1;} else {return 0.2;}})
			.attr("stroke-width",function(b){if (b.source == d.id || b.target == d.id){return 2;} else {return 1.5;}})
			.attr("stroke", function(b){if (b.source == d.id || b.target == d.id){return "purple";} else {return "gray";}});
	};	
    
	var label = svg.selectAll("g")
        .data(nodes)
        .enter();
		  
    label.append("foreignObject") // append div here-
        .attr("x",0)
        .attr("y",function(d){return yScale(d.order)-(heightPerPaper-10)/2;})
        .attr("width", textWidth-10)
        .attr("height", heightPerPaper-10)
        .each(function(d) { // i dont know why, but html function does not helps, i used each over all nodes here
            d3.select(this).html(
                `<button class="btn btn-outline-primary" style="font-size: 0.6rem;width: 100%;height: 100%;">
                    ${d.title}
                </button>`)
        })
        .on("mouseover", function(event, d){
            hover_event(d); 
            tool_tip.html("Title: " + d.title );
            var x = event.x,
                y = event.y;
            tool_tip.show(event,this);
            tool_tip.style('top', y);
            tool_tip.style('left', x);
        })
        .on("mouseout.path", function(d){drawpaths();})
        .on("mouseout.tip", tool_tip.hide);
            
    label.append("g").append("circle")
        .attr("cx",textWidth)
        .attr("cy",function(d){return yScale(d.order);})
        .attr("r", 3);
    
}
$.get(
    window.location.origin + 
    "/api/graphvis_papers/?"+
    "orderBy=latest" + 
    "&&start_id=0" + 
    "&&max_returns=" + maxReturns +
    "&&format=json",
    requestGET,
    function(data){
        // console.log(data);
        build(data);
    }
)
</script>
{% endblock %}