{% extends "base.html" %}

{% block css %} 
{{ block.super }}
{% endblock %}

{% block extend_menu_front %} 

{{ block.super }}
<span class="navbar-brand text-light"> Graphvis | </span>
{% endblock %}



{% block content %}
<div class="col card border-0 rounded-0 bg-light overflow-auto my-scrollbar d-none d-md-flex" style="height: 100%;"  id="graphVisViewerCol">
    BETA
</div>
{% endblock %}

{% block js %} 
{{ block.super }}

<!-- Load request data -->
{{ request.GET |json_script:"requestGET" }}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script type="text/javascript">
const requestGET = JSON.parse(document.getElementById('requestGET').textContent);
const maxReturns = 30
console.log(requestGET)
function build(data){

    var links = data.links.filter(link => link.random_sim > 0.9);
    var nodes = data.nodes;

    var margin = {top: 10, right: 30, bottom: 30, left: 40},
    width = 1000 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

    // append the svg object to the body of the page
    var svg = d3.select("#graphVisViewerCol")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

    // Initialize the links
    var link = svg
    .selectAll("line")
    .data(links)
    .enter()
    .append("line")
        .style("stroke", "#aaa")

    // Initialize the nodes
    var node = svg
    .selectAll("circle")
    .data(nodes)
    .enter()
    .append("circle")
        .attr("r", 20)
        .style("fill", "#69b3a2")

        
    // Let's list the force we wanna apply on the network
    var simulation = d3.forceSimulation(nodes)                 // Force algorithm is applied to data.nodes
        .force("link", d3.forceLink()                               // This force provides links between nodes
            .id(function(d) { return d.id; })                     // This provide  the id of a node
            .links(links)                                    // and this the list of links
        )
        .force("charge", d3.forceManyBody().strength(-400))         // This adds repulsion between nodes. Play with the -400 for the repulsion strength
        .force("center", d3.forceCenter(width / 2, height / 2))     // This force attracts nodes to the center of the svg area
        .on("end", ticked);

    // This function is run at each iteration of the force algorithm, updating the nodes position.
    function ticked() {
        link.attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });
        node.attr("cx", function (d) { return d.x+6; })
            .attr("cy", function(d) { return d.y-6; });
    }

}
$.get(
        window.location.origin + 
        "/api/graphvis_papers/?"+
        "orderBy=latest" + 
        "&&start_id=0" + 
        "&&max_returns=" + maxReturns +
        "&&format=json",
        requestGET,
        function(data){
            console.log(data);
            build(data);
        }
)
</script>
{% endblock %}