.my-scrollbar::-webkit-scrollbar { 
    width: 10px;
}
.my-scrollbar::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 1px solid #ccc;
}
.my-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
.my-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.my-scrollbar::-webkit-scrollbar-thumb:active{
    background-color:#333;
}
.line-clamp-3 {
    height: 4.3em; /* exactly three lines */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
}
.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}