{% extends "accounts/account_base.html" %}

{% block profilecontent %}

<div class="row pt-2">

    <!-- # Read Papers -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card callout-info shadow h-100 py-2 border border-info">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Reads</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="readPaperNum">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-envelope-open-fill fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stared Papers -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card callout-warning shadow h-100 py-2 border border-warning">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Stars</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="starPaperNum">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-star-fill fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Archived Papers -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card callout-secondary shadow h-100 py-2 border border-secondary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">Archive
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800" id="archivePaperNum">0</div>
                            </div>
                            <!-- <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-archive-fill fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Num of Tags -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card callout-success shadow h-100 py-2 border border-success">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tags</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800" id="tagsNum">0</div>
                    </div>
                    <div class="col-auto">
                        <i class="bi bi-tags-fill fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

<hr>
<h3>Tools: </h3>

<!-- Tag Management -->
<div class="row">
    <div class="col">
        <div class="card shadow mb-4 border border-light px-0">
            <!-- Card Header - Dropdown -->
            <button class="card-header accordion-button bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#tagManagement-collapse">
                <!-- <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-light"> -->
                    <h6 class="m-0 font-weight-bold text-info">
                        Tag Management
                    </h6>
                <!-- </div> -->
            </button>
            <!-- Card Body -->
            <div id="tagManagement-collapse" class="accordion-collapse collapse show">
                <div class="card-body " id="tagManagement">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block js %} 
{{ block.super }}

<script type="text/javascript">

// Active tab
$('#userProfileTab').children('a').removeClass('text-light')
$('#userProfileTab').children('a').addClass('active')

</script>

{% csrf_token %}
<script type="text/javascript">
const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
function loadProfile(){
    $.ajax({
        url: window.location.origin + 
        `/api/user_profile/?format=json`,
        type: 'GET',
        cache: false,
        timeout: 30000,
        success: function(data) {
            $('#readPaperNum').html(data.read_papers)
            $('#starPaperNum').html(data.star_papers)
            $('#archivePaperNum').html(data.archive_papers)
            var tagsNum = 0;
            $('#tagManagement').empty();
            var tagNames = Object.keys(data.tags);
            // Sort by alphabet
            tagNames.sort(function(a, b) {
                a = a.toUpperCase(); // ignore upper and lowercase
                b = b.toUpperCase(); // ignore upper and lowercase
                if (a < b) {
                    return -1;
                }
                if (a > b) {
                    return 1;
                }
                // names must be equal
                return 0;
            });
            for (const tagName of tagNames){
                tagsNum += data.tags[tagName]
                $('#tagManagement').append( 
                `<span class="badge bg-info">
                    <form class="tagChangeForm">
                    <input type="text" class="tagChangeInput bg-transparent border-0" data-name="${tagName}" value="${tagName}" size="${tagName.length}">
                    | ${data.tags[tagName]} 
                    </form>
                </span>` )
            }
            $('#tagsNum').html(tagsNum)

            // Bind event
            $( "#tagManagement" ).find(".tagChangeForm").submit(function() {
                // alert('xxx')
                event.preventDefault();
            });
            $( "#tagManagement" ).find(".tagChangeInput").change(function() {
                // alert( `Handler for .change() called.   ${this.value} ${this.dataset.name}` );
                if (this.value != this.dataset.name){
                    var oldtag = this.dataset.name;
                    var newtag = this.value;
                    $.ajax({
                        url: window.location.origin + `/api/rename_tag/?oldtag=${oldtag}&newtag=${newtag}`,
                        type: 'POST',
                        data: {
                            csrfmiddlewaretoken: csrfToken,
                            format: "json"
                        },
                        success: function(data) {
                            loadProfile();
                        }
                    });
                }
                event.preventDefault();
            });
        },
        dataType: "json",
    });
}
loadProfile();
</script>
{% endblock %}